<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- 1. Console Appender to print logs in your IDE terminal -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- 2. File Appender to save logs into a clean text file -->
        <File name="File" fileName="target/logs/automation.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
<!-- Logger levels-  TRACE < DEBUG < INFO < WARN < ERROR < FATAL-->
        <!-- Root Logger captures logs across the entire framework -->
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>